.welcome-container {
    padding: 20px;
}

.bg-homepage {
    background-image: url('../img/theme.png');
    background-size: cover;
    height: 100vh;
}

.container-chatroom {
    background-color: #282a36;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    color: white;
    padding: 20px;
}

.chat {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.input-group {
    margin-top: 20px;
}

.demo {
    width: 100%;
    height: 100%;
}

#basic-nav-dropdown {
    color: #ffffff;
}

.message {
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.own-message {
    background-color: #034D3A;
    text-align: right;
    margin-top: auto;
}

.other-message {
    background-color: #9763F6;
    align-self: flex-start;
}