<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="messages">
        <input type="text" placeholder="Message" id="messageInput">
    </div>

    <script>
        const socket = io()
        let messageContainer = document.querySelector(".messages")

        socket.on("connect", () => {
            let p = document.createElement("p")
            p.innerText = "You're connected"
            messageContainer.appendChild(p)
        })

        let messageInput = document.getElementById("messageInput")
        messageInput.addEventListener("keypress", (e) => {
            if (e.which === 13) {
                socket.emit("message", messageInput.value)
                messageInput.value = ""
            }
        })

        socket.on("message", (message) => {
            let messageElement = document.createElement("p")
            messageElement.innerText = message
            messageContainer.appendChild(messageElement)
        })
    </script>
</body>

</html> -->